.venv/
models/
output_videos/
runs/
stubs/*
input/final.mp4
input/08fd33_4.mp4
training/yolo11n.pt
training/yolov5lu.pt
training/yolov5mu.pt
training/runs
training/football-players-detection-1
yolov8m.pt
yolov8n.pt